[submodule "3rd/hlslparser"]
	path = 3rd/hlslparser
	url = git@github.com:pperehozhih/hlslparser.git
[submodule "3rd/hlsl2glsl"]
	path = 3rd/hlsl2glsl
	url = git@github.com:pperehozhih/hlsl2glslfork.git
[submodule "3rd/glsl-optimizer"]
	path = 3rd/glsl-optimizer
	url = git@github.com:pperehozhih/glsl-optimizer.git
[submodule "3rd/picojson"]
	path = 3rd/picojson
	url = git@github.com:pperehozhih/picojson.git
